<center><img src="RENCI-Official-Logo-transparent.png" width=400 height=100 />

<font size="5">
    <center>
Timeseries Extraction Demonstration Notebook from the RENCI/NOAA 43-year reanalysis
    
        Version 0.1, 24 Aug 2022
    Written by Jim McManus, Jeff Tilson, and Brian Blanton, RENCI
    Funded by NOAA
</font>

<font size="4">

The Renaissance Computing Institute, in collaboration with NOAA's ..., is computing a high-resolution coastal reanalysis dataset using the ADCIRC storm surge, wind-wave, and tide model, and the ECMWF's ERA5 atmospheric reanalisys, spanning the period 1979-2021.  The resulting datasets are in the native ADCIRC/netCDF format, which can complicate working with the large datasets due to the triangular grid used by ADCIRC.  This notebook demostrates the use of a Python package that provides easy access to the datasets for water level and bulk wind wave parameters at user-specified lon/lat points. 
</font>

## User inputs
The demonstration needs 3 inputs from the user, specified in the box below.
1. Upload a csv file of lon, lat coordinates, with a header line that names the coordinate columns with "lon" and "lat".  The order does not matter. There are 4 example/test files in the testdata directory.
 * **NOAA_Stations_141.csv** contains 141 NOAA stations.  
 * **hsofs_200grid_lonlat.csv** contains a random selection of 200 nodes from the NOAA HSOFS ADCIRC grid.
 * **1point.csv** contains 1 point
 * **hsofs_2grid_lonlat.csv** contains 2 points, one "on land" and the other in water.  The process for the first point will result in all NaNs for the returned timeseries.
2. Specify the variable to extract from the Reanalysis dataset.  The currently available variables are 'water level', 'wave height', 'wave period', 'wave direction'
3. Specify the years to extract using the slider.  The year range is inclusive.

Then, click the Submit button.

### import the interface package and execute the interface class

In [1]:
# import the interface package and execute the interface class
from reAnalysisInterface import demoInterface
d = demoInterface()

HTML(value='\n            <style>\n                /* enlarges the default jupyter cell outputs, can revert by…

VBox(children=(Output(layout=Layout(width='500px')), HBox(children=(Output(_dom_classes=('o2',)), Output(_dom_…

In [2]:
d.df_product_data.head()

                     P1        P2
1979-01-01 01:00:00 NaN  0.819854
1979-01-01 02:00:00 NaN  0.808856
1979-01-01 03:00:00 NaN  0.636194
1979-01-01 04:00:00 NaN  0.232287
1979-01-01 05:00:00 NaN -0.190031

In [3]:
d.df_product_metadata.head()

                LON        LAT    ELE+1
GEOPOINT
P1       -91.816161  30.943519    10512
P2       -79.672516  32.859652  2646751
P1       -91.816161  30.943519    10512
P2       -79.672516  32.859652  2646751

In [4]:
d.df_excluded.head()

Empty DataFrame
Columns: [lon, lat]
Index: []

In [5]:
d.df_product_data.index

DatetimeIndex(['1979-01-01 01:00:00', '1979-01-01 02:00:00',
               '1979-01-01 03:00:00', '1979-01-01 04:00:00',
               '1979-01-01 05:00:00', '1979-01-01 06:00:00',
               '1979-01-01 07:00:00', '1979-01-01 08:00:00',
               '1979-01-01 09:00:00', '1979-01-01 10:00:00',
               ...
               '1980-12-31 15:00:00', '1980-12-31 16:00:00',
               '1980-12-31 17:00:00', '1980-12-31 18:00:00',
               '1980-12-31 19:00:00', '1980-12-31 20:00:00',
               '1980-12-31 21:00:00', '1980-12-31 22:00:00',
               '1980-12-31 23:00:00', '1981-01-01 00:00:00'],
              dtype='datetime64[ns]', length=17568, freq=None)